<form action="/result" method="post">
  <label for="title">Titulo:</label><br>
  <input type="text" id="title" name="title" placeholder="Insira um titulo"><br>
  <label for="content">Conteúdo:</label><br>
  <textarea name="content" placeholder="Insira um conteúdo"></textarea><br><br>
  <input type="submit" value="Submit">
</form> 